*{
          margin: 0;
          box-sizing: border-box;
      }

      .background img{
         height:100%;
         width: 100%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
      }
      .background{
        position: absolute;
        width: 100%;
      }
      li{
        list-style-type: none;
      }
    
      .logo ul li img{
         position: relative;
         margin: 0;
        padding-top: 40px;
      }

      h1{
        font-size: 40px;
        text-align: center;
        color: white;
        font-family: sans-serif;

        float: left;
      }
     .heading{
        padding: 40px;
      }
      table{
        position: relative;
        padding:  30px;
        width: 100%;

      }
  
      table tr{
         justify-content: center;
      }
      table img{
        width: 230px;
        padding-left: 10px;
        
        opacity: 20;
      }

      table tr td{
        padding-top: 40px;
        vertical-align: top;
      }
       .round{
        height: 70px;
        width: 70px;
        background-color: #be274e;
        border: 1px solid #be274e;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10%;
        left: 47%;
        cursor: pointer;
        z-index: 10;

       }
       .round1{
        height: 350px;
        width: 350px;
        background-color: transparent;
         border: 50px solid #be274e;
        border-radius: 50%;
        position: absolute;
        bottom: 12%;
        left: 37%;
        
    
       }
       div.test { 
        position: relative;
        width: 70%; height: 70%;
        background: -webkit-radial-gradient(50% 50%, circle, transparent 10%, #000 10%); 
        background: -moz-radial-gradient(50% 50%, circle, transparent 10%, #000 10%);
        background: radial-gradient(50% 50%, circle, transparent 10%, #000 10%);
        margin: 0 auto; 
         }
         .icons{
          position: absolute;
         }
         .play{
          top: -36px;
          left: 60px;

         }
         
       .about{
          bottom: 25px;
          left: -45px;

       }
       .watch{
         top: 40px;
          left: -55px;

       }
     .contact{
           bottom: 25px;
          right: -10px;
     }
     .sound{
          top: 40px;
          right: -10px;
     }
     .hide{
      display: none;

     }
